
* {
  /* border: 1px solid gold; */

  font-family: 'Shadows Into Light', sans serif;
}
.container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.text-wrap {
  color: rgb(100,233,200);
  width: 100%;
  position: absolute;
  margin-left: 10%;
}
.text-wrap > img {
  width:30%;
  margin-left: 10%;
}
.text-wrap h2 {
  font-size: 2.5vw;
  margin-top: -5%;
  margin-left: 17%;
  color: rgb(253,207,88);
}
.main-content{
  width: 100%;
}
.banner  {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.banner >img {
  width: 100%;

}
.world h2 {
  text-align: center;
  background-color: rgba(255,0,0,0.7);

}
.pics {
  width: 100%;

}
.pics > img {
  width:100%;
  margin-top: 2%;
  /* margin-left: 12%; */
  display: none;
}
.pics img:first-of-type {
  display: block;
}

#list {
  list-style: none;
  column-count: 3;
  background-color: rgba(0,0,0,0.2);


}
#list >img {
  width: 50%;

}
.front:hover {
  transform: translate(-10px,-10px);
}

.gallery h2 {
  text-align: center;
  background-color: rgba(255,0,0,0.7);
}


.fa {
  padding: 3%;
  font-size: 3vw;
  width: 8%;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 100%;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 100%;
}
.fa-instagram {
  background: #125688;
  color: white;
    border-radius: 100%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 100%;
}
.about{
border: 1px solid black;
display: inline-block;
padding: 2%;
background-color: rgba(0,0,0,0.2);
}
#footer {
  margin-top: 1%;
  border-top: 1px solid black;
}

@media (min-width: 600px) {
  .container{
    width: 90%;
    margin: auto;
}
}
