
* {
  border: 1px solid gold;
}
.text-wrap {
  color: rgb(100,233,200);
  width: 100%;
  position: absolute;
  margin-left: 10%;
}
.text-wrap > img {
  width:30%;
  margin-left: 10%;
}
.text-wrap h2 {
  font-size: 3vw;
  margin-top: -5%;
  margin-left: 15%;
  color: rgb(253,207,88);
}
.main-content{
  width: 100%;
}
.banner  {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.banner >img {
  width: 90%;

}
.container {
  display: flex;
  justify-content: space-between;
}
.battleGround > img {
  width:100%;
}
#pokedex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#pokedex >img {
  width: 20%;
}
