
* {
  /* border: 1px solid gold; */
  font-family: 'Shadows Into Light', sans serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.text-wrap {
  color: rgb(100,233,200);
  width: 100%;
  position: absolute;
  margin-left: 10%;
}
.text-wrap > img {
  width:30%;
  margin-left: 10%;
}
.text-wrap h2 {
  font-size: 2.5vw;
  margin-top: -5%;
  margin-left: 17%;
  color: rgb(253,207,88);
}
.main-content{
  width: 100%;
}
.banner  {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.banner >img {
  width: 100%;

}

.pics {
  width: 100%;

}
.pics > img {
  width:100%;
  margin-top: 2%;
  /* margin-left: 12%; */
  display: none;
}
.pics img:first-of-type {
  display: block;
}

#list {
  list-style: none;
  column-count: 3;
  background-color: rgba(0,0,0,0.2);


}
#list >img {
  width: 50%;

}
.gallery h2 {
  text-align: center;
  background-color: rgba(255,0,0,0.7);
  color: white;

}
@media (min-width: 600px) {
  .banner > img {
    width: 100%;
  }
}
